<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <ion-header class="header-content">
    <br>
    <h2 class="welcome-text" style="padding-inline: 10px;">¿Qué vas a ordenar hoy?</h2>
  </ion-header>
  <h2>{{cat}}</h2>
  <form class="form-container" (ngSubmit)="enviarFormulario()" #formularioPedido="ngForm" novalidate>
    <ion-item class="form-item">
      <ion-label class="custom-label" position="floating">Subcategoria</ion-label>
      <ion-select [(ngModel)]="subcategoria" name="subcategoria" class="custom-select" required>
        <ion-select-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria">
          {{ subcategoria }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item  class="form-item">
      <ion-label class="custom-label" position="stacked">Agrega tu pedido</ion-label>
      <ion-input [(ngModel)]="pedidoTexto1" name="pedidoTexto1" class="custom-input" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="custom-label" position="stacked">Selecciona tu dirección</ion-label>
      <ion-select [(ngModel)]="direccion" name="direccion" placeholder="Selecciona" required>
        <ion-select-option *ngFor="let direccion of direcciones" [value]="direccion.direccion">
          {{ direccion.direccion }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-tab-button>
      <ion-button type="submit" style="width: 150px;" color="success">Enviar</ion-button>
    </ion-tab-button>
  </form>
  <div class="navigation">
    <ul>
      <li class="list"  [class.active]="isTabActive('pedido')">
        <a (click)="home()">
          <span class="icon">
            <ion-icon name="home-outline"></ion-icon>
          </span>
          <span class="text">Inicio</span>
        </a>
      </li>
      <li class="list">
        <a (click)="us()">
          <span class="icon">
            <ion-icon name="person-outline"></ion-icon>
          </span>
          <span class="text">Perfil</span>
        </a>
      </li>
      <li class="list">
        <a (click)="ped()">
          <span class="icon">
            <ion-icon name="storefront-outline"></ion-icon>
          </span>
          <span class="text">Pedidos</span>
        </a>
      </li>
      <li class="list">
        <a (click)="logout()">
          <span class="icon">
            <ion-icon name="exit-outline"></ion-icon>
          </span>
          <span class="text">Exit</span>
        </a>
      </li>
    </ul>
  </div>
</ion-content>
